.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list input {
  width: 100%;
  width: -webkit-fill-available;
}

.title {
  margin-top: 0;
  white-space: pre-wrap;
  word-break: break-word;
}

.actions {
margin-left: auto;
}